@media only screen and (max-width: 800px) {

    .landpagecontainer,
    .aboutmecontainer {
        flex-direction: column;
        /* margin-bottom: 20px; */

    }

    .skills_Section,
    .skillscontainer,
    .Skillsitem_container {
        margin-left: 0px;
    }

    .project {
        flex-direction: column;
        gap: 30px;
    }

    .project2 {
        width: 80%;
    }

    .blogscontainer {
        margin-left: 10px;
    }

    .bloglist {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .Register {
        flex-direction: column;

    }

    .Form_Container {
        margin-left: -100px;
    }

    .contactcontainer .contact input {
        margin-left: -146px;


    }

    .contact textarea {
        margin-left: -150px;
        width: 145%;


    }

    .conected {
        font-size: 30px;

    }

    .skillscontainer {
        margin-left: -40px;
    }
}