* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.Container {
    width: 100%;
}

/* Landingpage */
.Landpage {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

}

.navigation {
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    background-color: #020617;
    top: 0;
    justify-content: space-evenly;
    align-items: center;
    z-index: 5;


}

.navigation-menu {
    width: 80%;
    margin-left: 300px;
}

#AboutColor {
    color: yellow;
}

#logo {

    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    margin-left: 100px;
}

.navigation-menu ul {
    display: flex;
    list-style-type: none;

}

.navigation-menu li {
    margin: 14px;


}

.icon {
    margin-right: 30px;
    display: none;
}

.navigation-menu li a {
    text-decoration: none;
    color: #9CA3AF;
    font-family: Lexend Deca;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;

}

.navigation-menu li a:hover {
    color: yellow;
}

.navigation-menu li a #active {
    color: #FFFFFF;
}

#active {
    color: #FFFFFF;
}

.landpagecontent {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #111827;
}

.landpagecontainer {

    width: 80vw;
    height: 427px;
    margin: 120px 0 0 135px;
    display: flex;
}

.introduction1 {
    width: 65%;
    margin-top: 100px;
}

.introduction1 h4 {
    color: #EAB308;
    font-family: 'Lexend Deca';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    margin-left: 18px;


}

.introduction1 #myName {
    color: #F3F4F6;
    font-family: Lexend Deca;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 10px;
    margin-left: 20px;

}

.introduction1 p {
    color: #6B7280;
    font-family: Lexend Deca;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-left: 19px;
}

.introduction1 button {
    display: flex;
    padding: 10px 30px;
    align-items: flex-start;
    margin-top: 35px;
    border-radius: 4px;
    background: #FACC15;
    margin-left: 20px;
    border: 1px solid yellow;
}

.introduction1 button a {
    text-decoration: none;
    color: black;
}

.Myphoto {
    width: 35%;
    margin-left: 80px;
    height: 100%;
    background-image: url(images/ami_paradis_1705007003010-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: calc(33px - 100px);
}

/* About me page */
.aboutme {
    height: 100%;
    width: 100%;
    background-color: #020617;
    display: flex;
}

.aboutmecontainer {

    width: 80vw;
    height: 427px;
    margin: 120px 0 0 135px;
    display: flex;


}

.imageSection {
    margin-left: 60px;
    margin-top: 40px;
    width: 300px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 16px solid #EAB308;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageSection img {
    width: 300px;
    height: 340px;
    position: relative;
    top: -27px;
    opacity: 1;
}

.Aboutmesection {
    margin-top: -18px;
    margin-left: 50px;
    padding: 50px;
    height: 100%;
    width: calc(80vw - 300px);

}

.Aboutmesection h5 {
    color: #F3F4F6;

    font-family: Lexend Deca;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

}

.Aboutmesection h5 span {
    color: #EAB308;
    font-family: Lexend Deca;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;

}

.Aboutmesection p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    color: #6B7280;
}

.Aboutmesection button {
    margin-top: 20px;
    padding: 16px 20px;
    background-color: #EAB308;
    border: 1px solid yellow;
    border-radius: 4px;

    /* SKILLS SECTION */

}

.skills_Section {
    margin-top: -60px;
    height: 100vh;
    width: 100vw;
    background-color: #020617;
}

.skills_Section .skillscontainer {
    position: relative;
    top: 60px;
    width: 80%;
    height: 427px;
    margin-left: 100px;

}

.skillscontainer h3 {

    color: white;
    position: relative;
    top: 70px;
    font-family: Lexend Deca;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 40px;
}

.Skillsitem {
    margin-left: 120px;
    margin-top: 50px;
}

.Skillsitem .words {
    display: flex;
    margin-bottom: 3px;
}

.Skillsitem .words .percent {
    margin-right: 225px;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;


}

.Skillsitem .words .language {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 16px;
    font-style: normal;
    font-weight: 300
}

.skillscontainer .progressbar {
    width: 300px;
    height: 8px;
    flex-shrink: 0;
    background-color: white;

}

.skillscontainer .progressbar .insideprpogress {
    width: 100px;
    height: 8px;
    background-color: yellow;
}

.Skillsitem_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

/* End of Skills  Section */
/* Start Of MY Portfolio Section */
.project {
    display: flex;
    margin-top: 20px;
}

.project1,
.project2,
.project3,
.project4 {
    width: 100px;
    height: 100px;
    background-color: #ccc; /* Set your desired background color */
    margin-right: 10px;
    transition: background-color 0.3s;
    position: relative;
}

.project:hover .project1::after,
.project:hover .project2::after,
.project:hover .project3::after,
.project:hover .project4::after {
    content: "Project Name"; /* Set your desired text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Set your desired text color */
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .project1::after {
    opacity: 1;
}

.project:hover .project2::after {
    opacity: 1;
}

.project:hover .project3::after {
    opacity: 1;
}

.project:hover .project4::after {
    opacity: 1;
}
.Myportfolio {
    height: 110vh;
    width: 100vw;
    background-color: #020617;
    display: flex;
}

.portfolioContainer {
    margin-top: 100px;
    width: 80%;
    height: 530px;
    margin-left: 130px;
}

.Myportfolio .title {
    margin-top: 50px;
    color: #F3F4F6;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.Myportfolio .title span {
    color: #EAB308;
    font-family: Lexend Deca;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
}

.introduction p span {
    opacity: 0.7;
    color: #EAB308;
    font-family: Lexend Deca;
    font-size: 24px;
    font-style: normal;
}

.introduction p {
    margin-top: 20px;
    color: #6B7280;
    font-family: Lexend Deca;
    font-size: 24px;
    font-style: normal;
    width: 500px;
    margin-left: 280px;
    margin-bottom: 35px;
}

.portfolioContainer .project {
    display: flex;
    height: 350px;
    flex-direction: row;

}

.project .leftProject {
    position: relative;
    left: -35px;
    width: 26%;
    height: 86%;
    margin-left: 280px;
    background-image: url(images/p-image2.png);
    background-size: cover;
    background-repeat: no-repeat;


}

.rightProject {
    position: relative;
    left: -35px;
    width: 30%;
    height: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.rightProject .project1 {

    background-color: #FFF;
    width: 139px;
    height: 140px;
    border-radius: 12px;
    margin-left: 5px;
    margin-top: 5px;
    background-image: url(images/p-img2.png);
    background-size: cover;

}

.rightProject .project2 {
    background-color: bisque;
    width: 139px;
    height: 140px;
    margin-bottom: 2px;
    margin-left: 20px;
    border-radius: 12px;
    margin-top: 5px;
    background-image: url(images/p-img1.png);
    background-size: cover;


}

.rightProject .project3 {
    background-image: url(images/p-img3.png);
    width: 139px;
    height: 140px;
    border-radius: 12px;
    margin-left: 5px;
    background-size: cover;
}

.rightProject .project4 {
    background-image: url(images/p-img4.png);
    width: 139px;
    height: 140px;
    margin-left: 20px;
    border-radius: 12px;
    background-size: contain;
}

/* END OF MY PORTFOLIO */
/* START OF MY BLOGS */
.blogs {
    width: 100%;
    height: 100%;
    background-color: #020617;
}

.blogscontainer {
    width: 85%;
    height: 90%;
    margin-left: 130px;
}

.blogtitle {
    position: relative;
    top: 76px;
    height: 47px;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.blogs .blogscontainer p {
    margin-top: 80px;
    color: var(--Paragraph-Font, #767676);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 160% */
    width: 900px;
    margin-left: 140px;
}

.blog-image {
    margin-top: 2px;
    width: 180px;
    height: 200px;
    flex-shrink: 0;
    background-color: aqua;
}

.bloginfo {
    margin: 10px;
}

.bloginfo .title {
    color: black;
    margin-top: 10px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    /* 22.248px */
    text-transform: capitalize;
    margin-left: 4px;
}

.bloginfo span {
    color: var(--Paragraph-Font, #767676);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    width: 200px;
    margin: 5px;
}

.bloginfo #t {
    color: var(--Yellow, #FFB400);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    position: relative;
    top: 20px;
}

.bloglist {
    display: flex;
    margin-left: 60px;
}

.Eachblog_container {
    background-color: #FFFFFF;
    margin: 18px;
    width: 300px;
    height: 350px;
}

#t {
    margin-top: 20pxpx;
}

/* Starting of Contact Page */
.contactpage {
    width: 100%;
    height: 100%;
    background-color: #020617;
}

.contactHeader .title1 {
    position: relative;
    top: 110px;
    color: #F3F4F6;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px
}

.contactHeader .title1 span {
    color: #EAB308;
}

.contactHeader p {
    margin-top: 110px;
    color: #9CA3AF;
    text-align: center;
    font-family: Lexend Deca;
    font-size: 19px;
    font-style: normal;
    width: 560px;
    margin-left: 320px;
}

.contactcontainer {
    width: 80%;
    height: 63%;
    margin-left: 120px;
    display: flex;
}

.contactcontainer .adress {
    margin-top: 50;
    width: 50%;
    height: 100%;
    padding: 60px;
    margin-left: 20px;
}

.contactcontainer .adress span {
    color: #EAB308;
    font-family: Lexend Deca;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    /* 256.25% */
}

.contactcontainer .adress p {
    color: #F3F4F6;
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 41px;
    margin-left: 20px;
}

.contactcontainer .contact {
    margin-top: 20px;
    padding: 20px;
    width: 50%;
    height: 100%;
}

.contactcontainer .contact input {
    width: 330px;
    height: 50px;
    background: #1F2937;
    margin-bottom: 10px;
    position: relative;
    left: -9px;
    outline: 0px;
    border: 1px solid #1F2937;
}

.contactcontainer .contact textarea {
    width: 460px;
    height: 130px;
    background-color: #1F2937;
    outline: none;
}

.contactcontainer .contact button {
    margin-top: 5px;
    display: flex;
    padding: 16px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #EAB308;
    outline: none;
    border: 1px solid #EAB308;
}

/* Ending of Contact me */
/* Starting of Login and Signup */
.Register {
    height: 100%;
    width: 100%;
    background-color: #020617;
    display: flex;
}

.Form_Container {
    margin-top: 40px;
    height: 80%;
    width: 50%;

}

.header {
    display: flex;
    height: 40px;
    width: 100%
}

.header .right {
    background-color: white;
    width: 50%;
    padding: 10px;
    text-align: center;

}

.header .left {
    width: 50%;
    height: 40px;
    background-color: #EAB308;
    text-align: center;
    padding: 10px;
}

.conected {
    margin-top: 150px;
    width: 40%;
    height: 60%;
    margin-left: 100px;
    width: 592px;
    height: 86px;
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    /* 100% */
    text-transform: capitalize;
}

.form {
    position: relative;
    width: 55%;
    height: 70%;
    margin: 50px;
    margin-top: 40px;
    margin-left: 140px;
    border: 1px solid yellow;
    left: -130px;

}

form input {
    width: 280px;
    height: 30px;
    border: 1px solid #EAB308;
    background: #020617;
    outline: none;
    margin: 10px;
    color: white;
    padding: 5px;


}

.form span {
    color: #FFF;
    font-family: Lexend Deca;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 7px;
}

.form button {
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
    height: 30px;
    background-color: #EAB308;
    margin-left: 6px;
    margin-top: 1px;
    outline: none;
    border: 1px solid #EAB308;
}

form {
    margin-left: 20px;
    margin-top: 20px;
}

.blogscontainer {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.form {
    width: 55%;
    margin-left: 10%;
}

.contactcontainer {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

/* Adding your Responsiveness */
@media screen and (max-width: 1024px) {
    .navigation .icon {
        margin-top: 20px;
        font-size: 30px;
        height: 100px;


    }

    .navigation-menu {
        margin-left: 0;
    }

    .navigation-menu ul {
        flex-direction: column;
        align-items: left;
    }

    .navigation-menu li {
        margin: 10px 0;
    }

    #logo {
        margin-left: 0;
    }

    .landpagecontainer {
        flex-direction: column;
        align-items: center;
        margin: 50px 0 0 0;
    }

    .Myphoto {
        margin: 20px 0 0 0;
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .navigation-menu a:not(:first-child) {
        display: none;
    }

    .navigation-menu a.icon {
        float: right;
        display: block;
        position: fixed;
        margin-left: -20px;
    }

    .navigation-menu.responsive {
        position: relative;
    }

    .navigation-menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        position: fixed;
        overflow: hidden;
        margin-left: -20px;
    }

    .navigation-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .Container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .navigation {
        height: auto;
        max-width: 46%;
    }

    .aboutmecontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: -3px;
        height: 100%;
    }

    .Aboutmesection {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    .Aboutmesection h5 {
        font-size: 24px;
    }

    .Aboutmesection h5 span {
        font-size: 18px;
    }

    .Aboutmesection p {
        font-size: 16px;
        margin-top: 10px;
        margin-left: -10px;
    }

    .Aboutmesection button {
        margin-top: 15px;
        font-size: 14px;
        margin-left: 30px;
    }

    .Skillsitem_container {
        flex-direction: column;
        margin-left: -180px;
        margin-bottom: 20px;
    }

    #ty h3 {
        margin-left: 80px;
        font-size: 40px;

    }

    .skillscontainer h3 {
        margin-left: -160px;
    }

    .Myportfolio .introduction {
        font-size: 16px;
        margin-top: 10px;
    }

    .bloglist {
        flex-direction: column;
    }

    .Myportfolio {
        padding: 20px;
        margin-top: 70px;
    }

    .Myportfolio .title {
        font-size: 24px;
        margin-left: -250px;
    }

    .Myportfolio .title span {
        font-size: 18px;
    }

    .Myportfolio .introduction p {
        font-size: 20px;
        margin-top: 10px;
        margin-left: -100px;
        width: 100%;
    }

    .blogs {
        padding: 20px;
    }

    .blogs .blogtitle {
        font-size: 24px;
    }

    #mynews {
        position: relative;
        font-size: 20px;
        margin-top: 60px;
        left: -160px;
        width: 100%;
    }


    .project {
        flex-direction: column;
        padding: 20px;
    }

    .leftProject,
    .rightProject {
        width: 100%;
        margin-bottom: 20px;
    }

    #main_project {}

    .project1,
    .project2,
    .project3,
    .project4 {
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        left: -300px;
    }

    .bloginfo,
    .contactpage,
    .Register {
        padding: 10px;
    }

    .Form_Container {
        flex-direction: column;
    }

    .form {
        max-width: 100%;
    }



    .navigation-menu {
        width: 100%;
        margin-left: 0;
        display: none;
    }

    .contact {
        margin-top: 20px;
    }

    .contactcontainer {

        flex-direction: column;
    }

    .Register {
        flex-direction: column;
    }

    .icon {
        display: block;
        float: right;
        margin-right: 20px;
    }

    .navigation-menu.responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation-menu.responsive a {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
}